<nav>
  <a href="/">Home</a> | 
  {% if user %}
    <a href="/account">Settings</a> -
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a> -
    <a href="/register">Register</a>
  {% endif %}
</nav>